@import './app/vars.scss';

*{
  font-family: 'Yaldevi', sans-serif;
}

h1{
  text-align: center;
  color: $primary-color;
}

.container{
  width: 80%;
  margin: 0 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
